/* extra sec */

.course-choose-heading2 {
    font-size: 22px;
}

.course-choose-section2 {
    width: 80%;
    margin: 20px auto;
    padding-top: 230px;
}

.check1,
.check2 {
    height: 20px;
    width: 20px;
}

.cen-selection {
    font-size: 22px;
    padding-top: 10px;
}

.know {
    font-size: 22px;
    padding-top: 25px;
}